@page
@model Web.Buyify.Pages.PanierModel
@{    
}



<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Panier</title>    
</head>
<body>
  <div class="text-center">
      <div class="catmag-item-collection-view1">
          
          <a href="">
                <img class="img-item-mag1" src="https://fr.infosgabon.com/wp-content/uploads/2014/09/Airtel-Money.jpg" />
          </a>
            <a href="">
                <img class="img-item-mag1" src="https://www.impots-et-taxes.com/img/mobicash.JPG" />
            </a>
            <a href="">
                <img class="img-item-mag1" src="https://www.01net.com/app/uploads/2020/07/MEA-PayPal-768x433.jpg" />
            </a>
            
            <a href="">
                <img class="img-item-mag1" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/Visa_Inc._logo.svg/800px-Visa_Inc._logo.svg.png" />
            </a>
        </div>
  </div>

  <div>
      <div>
            <img src="https://m.media-amazon.com/images/G/08/cart/empty/kettle-desaturated._CB424694058_.svg" />
      </div>
  </div>
    <span id="desktop-ptc-button-celWidget" cel_widget_id='desktop-ptc-button' class='celwidget'>
        <span id="sc-buy-box-ptc-button" class="a-button a-button-normal a-button-span12 a-button-primary">
            <span class="a-button-inner">
                <input name="proceedToRetailCheckout" data-feature-id="proceed-to-checkout-action" class="a-button-input" type="submit" value="Proceed to checkout" aria-labelledby="sc-buy-box-ptc-button-announce" /><span id="sc-buy-box-ptc-button-announce" class="a-button-text" aria-hidden="true">
                    <div class="a-section a-spacing-none">



                        <div class="sc-without-multicart" data-feature-id="proceed-to-checkout-label">
                            Passer la commande


                        </div>
                        <div class="sc-with-multicart">
                            Passer la commande du panier Amazon
                        </div>


                    </div>
                </span>
            </span>
        </span>
</body>

</html>