<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web.Buyify</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/catmag.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/diapo.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/cart.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Web.Buyify.styles.css" asp-append-version="true" />
    <style>
            .slideshow-container {
                /* Styles pour le conteneur du carrousel */
            position: relative;
            display :inline-flex;

             }
            .slideshow-container img {
                width: 1200px;
                height: 500px;
                object-fit : cover;
                /* Autres styles pour les images du carrousel */
            }

        .slick-dots {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            justify-content: center;
            /* Autres styles pour les indicateurs de pagination */
        }

            .slick-dots li button {
                /* Styles pour les boutons des indicateurs de pagination */
                height:400px;
            }

        .slick-prev,
        .slick-next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 2;
            /* Autres styles pour les boutons de navigation */
        }

        .slick-prev {
            left: 10px;
            /* Styles pour le bouton "Précédent" */
        }

        .slick-next {
            right: 10px;
            /* Styles pour le bouton "Suivant" */
        }

    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Buyify</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Login">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <nav class="Content-div-nav">
            <div class="align-item-div-bar-first">
                <div class="align-item-div-bar">
                    <select class="btn-search-select">
                        <option class="option-item">Toutes le catégories</option>
                        <option class="option-item">Accessoires</option>
                        <option class="option-item">Accessoires téléphones</option>
                        <option class="option-item">Vetements</option>
                        <option class="option-item">Meubles</option>
                    </select>
                    <input class="search-item" placeholder="Rechercher votre article" />
                    <button class="btn-search">
                        <img class="img-btn-search" src="~/loope.png" />
                    </button>
                </div>
                <a href="/panier">
                    <button asp-page="/panier" class="btn-panier">
                        <img class="img-panier" src="/images/panier.png" />
                        <p class="p-panier">PANIER</p>
                    </button>
                </a>
                

                <div class="dropdown">
                    <a href="/MonCompte">
                            <button asp-page="/MonCompte" class="btn-panier">
                                <img class="img-panier" src="/images/compte.png" />
                                <p class="p-panier">COMPTE</p>
                        </button>
                    </a>
                    <div class="dropdown-content">
                        <a href="/Login">
                            <button asp-page="/Login" class="btn">Identifiez-vous</button>
                        </a>
                        
                        <div class="grid-container">
                            <div class="grid-item">
                                <p><b>Vos listes d'envies</b></p>
                                <a href="">
                                    <button class="btn">Votre compte</button>
                                </a>
                                <a href="">
                                    <button class="btn">Votre compte</button>
                                </a>
                                <a href="">
                                    <button class="btn">Votre compte</button>
                                </a>
                                <a href="">
                                    <button class="btn">Votre compte</button>
                                </a>
                                <a href="">
                                    <button class="btn">Votre compte</button>
                                </a>
                                <a href="">
                                    <button class="btn">Votre compte</button>
                                </a>
                            </div>
                            <div class="grid-item">
                                <p><b>Votre compte</b></p>
                                <a href="">
                                    <button class="btn">Votre compte</button>
                                </a>
                                <a href="">
                                    <button class="btn">Vos commandes</button>
                                </a>
                                <a href="">
                                    <button class="btn">Votre liste d'envies</button>
                                </a>
                                <a href="">
                                    <button class="btn">Vos livraisons</button>
                                </a>
                                <a href="">
                                    <button class="btn">Votre compte</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                
                </a>
            </div>
        </nav>
        @if (IsSectionDefined("navbar"))
        {
            @RenderSection("navbar")
        }
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Web.Buyify - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)  

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.carousel-control-prev').click(function () {
                $('.carousel').carousel('prev');
            });

            $('.carousel-control-next').click(function () {
                $('.carousel').carousel('next');
            });
        });
    </script>
</body>
</html>