@page
@model Web.Buyify.Pages.Shared._NewsletterPopupModel
@{
    Layout = "";
}

<div id="newsletter-popup" class="popup">
    <h3>Inscrivez-vous à notre newsletter</h3>
    <form id="newsletter-form" method="post" action="/Newsletter/Subscribe">
        <input type="email" name="email" placeholder="Votre adresse e-mail" required>
        <button type="submit">S'inscrire</button>
    </form>
</div>
